/* Billboard */

.universal.hero
  .billboard{ style: "background-image: url(#{image_path "billboard.png"})" }
    .billboard-box
      .billboard-item
        .separator.medium
        %h1 Uma escolha, um futuro.
        %p Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
