/* Header */

%header.universal.header
  .universal-box
    .universal-item
      = render partial: "lib/components/responsive_navigation_trigger"
      = render partial: "lib/components/primary_navigation_left"
      = render partial: "lib/components/brand"
      = render partial: "lib/components/primary_navigation_right"
