/* Index */

.container-top.left
  = render partial: "breadcrumbs"
.container-middle.left
  = render partial: "quality", locals: { object: @quality }
  = render partial: "wallets"
.container-bottom.left
