// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Palette
// Project: Mies by IIGETHR
// -------------------------------------------------------------

// Blue
// -------------------------------------------------------------
$blue-000: #f5f7ff;
$blue-100: #bcc9fd;
$blue-200: #829bfc;
$blue-300: #496efa;
$blue-400: #1040f8;
$blue-500: #0632DB;
$blue-600: #0529b5;
$blue-700: #04218f;
$blue-800: #031868;
$blue-900: #020f42;

// Blue Base
$blue: $blue-500;
