/* Index */

.container-top.left
  = render partial: "breadcrumbs"
.container-middle.left
  = render partial: "partnerships", locals: { object: @partnerships }
  = render partial: "partnership_roster", locals: { objects: @partnership_roster }
.container-bottom.left
