/* Breadcrumbs */

.breadcrumbs
  .breadcrumbs-box
    .breadcrumbs-item
      = link_to courses_path, class: "link small" do
        .icon.left
          = image_tag "icons/back.png"
        = t("back")
