// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Roles
// Project: Mies by IIGETHR
// -------------------------------------------------------------

header {
  &.header {
    background-color: $white;
  }
}

div {
  &.hero {
    // background-color: $blue;
    background-color: $gray-100;
  }
}

main {
  &.main {
    background-color: $gray-000;
  }
}

footer {
  &.footer {
    background-color: $blue;
  }
}
