/* Brand footer */

.brand-footer.right
  .brand-footer-box.right.altai-center
    .brand-footer-item.right
      = link_to root_path do
        = image_tag "brand_long.png", size: "128x32", class: "right"
