/* Brand header */

.brand
  .brand-box
    .brand-item.default
      = link_to root_path do
        = image_tag "brand.png", size: "128x32", class: "altai-center"
    .brand-item.mobile
      = link_to root_path do
        = image_tag "brand.png", size: "128x32", class: "right"
