/* Brand header */

.brand
  .brand-box
    .brand-item.default.altai-center
      = link_to "https://www.livroreclamacoes.pt/Pedido/Reclamacao", target: :blank do
        = image_tag "complaints.png", size: "70x29"
