// Featured

.featured.wide
  .featured-box.wide
    .featured-item.wide
      = link_to fetch_featured_article.title, article_path(fetch_featured_article), class: "link medium white wide text-center hover-underline"
