/* Group navigation */

.group-navigation.right
  .group-navigation-box
    .group-navigation-item
      = link_to root_path, class: "altai-center" do
        = image_tag "group_member.png", size: "256x64"
    .group-navigation-item
      = link_to root_path, class: "altai-center" do
        = image_tag "group_member.png", size: "256x64"
