/* Group navigation */

.group-navigation.right
  .group-navigation-box
    .group-navigation-item
      = link_to "http://www.magensinus.com/", target: :blank, class: "altai-center" do
        = image_tag "magensinus.png", size: "256x64"
    .group-navigation-item
      = link_to "http://www.escolamodalisboa.eu/", target: :blank, class: "altai-center" do
        = image_tag "eml.png", size: "256x64"
