/* Legal navigation */

.legal-navigation.altai-center
  .legal-navigation-box
    - fetch_terms_and_conditions_urls.each do |url|
      .legal-navigation-item
        = link_to url.title, terms_and_conditions_path(anchor: url.slug), class: "link white hover-underline", id: "#{url.slug}"
