/* Primary navigation */

.primary-navigation
  .primary-navigation-box.left
    .primary-navigation-item
      = link_to root_path, class: "link blue" do
        // .icon.left
        //   = image_tag "icons/courses.png"
        cursos
