/* Primary navigation */

.primary-navigation
  .primary-navigation-box.right
    .primary-navigation-item
      = link_to root_path, class: "link blue altai-toggle-trigger" do
        .icon.left
          = image_tag "icons/menu.png"
        menu
