/* Responsive navigation trigger */

.responsive-navigation-trigger
  .responsive-navigation-trigger-box.right
    .responsive-navigation-trigger-item
      = link_to root_path, class: "link blue altai-toggle-trigger" do
        .icon.left
          = image_tag "icons/menu.png"
        menu
