/* Responsive navigation trigger */

.responsive-navigation-trigger
  .responsive-navigation-trigger-box.right
    .responsive-navigation-trigger-item
      = link_to "menu", root_path, class: "altai-toggle-trigger"
