/* Sponsor navigation */

.sponsor-navigation.right.altai-center
  .sponsor-navigation-box
    - endorsements.each do |item|
      .sponsor-navigation-item
        = link_to root_path do
          = image_tag item.thumb_box.url.to_s, class: "left", height: "20"
