/* Vcard */

.vcard.right
  .vcard-box
    .vcard-item
      %p.small Address line one
      %p.small Address line two
      %p.small Postcode | City
      %p.small Country
      %p.small Email
      %p.small Telephone
