/* Content */

.content
  .content-box
    - if parent.title.presence
      .content-item
        %h1= parent.try(:title)
    - if parent.description.presence
      .content-item
        .trix
          = safe_join([parent.try(:description).html_safe])
