/* Index */

.container-top.left
  = render partial: "breadcrumbs"
.container-middle.left
  = render partial: "parent", locals: { parent: @parent }
  = render partial: "courses", locals: { objects: @categories }
.container-bottom.left
