// Form

= form_tag "/newsletter/subscribe", method: :post, autocomplete: "off", remote: false do
  %fieldset
    .form-row
      // Email
      .field.col-large-6-4
        .input.text-center
          = email_field_tag "email[address]", nil, placeholder: "O seu email...", autofocus: false, required: ""
      // Submit
      .field.col-large-6-2
        .submit
          = button_tag "Subscrever", type: :submit, data: { disable_with: "Por favor esperar um momento..." }, class: "button double-extra-large blue wide"
