/* Content */

.content
  .content-box
    .content-item
      - if object.title.presence
        %h1= object.try(:title)
      .separator.small
      - if object.description.presence
        .trix
          = safe_join([object.try(:description).html_safe])
    - if object.body.presence
      .separator.small
      .content-item
        .trix
          = safe_join([object.try(:body).html_safe])
